.features {
  padding-bottom: 32px;
  &__title {
    margin-bottom: 37px;
    font-weight: 500;
    font-size: 20px;

    letter-spacing: 4.42px;

    color: #020303;
  }
  &__wrapper {
    padding-top: 46px;

    border-radius: 16px;
    background-color: white;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.15);
  }

  &__list {
    min-width: 328px;
    line-height: 2.2;
  }
  &__item {
    display: flex;

    margin-bottom: 35px;
    line-height: 2.22;
  }
  &__text {
    letter-spacing: -0.4px;
    color: #45494f;
  }
  @media screen and(min-width: 992px) {
    padding-bottom: 74px;

    &__title {
      margin-bottom: 71px;
      font-size: 28px;
    }
    &__text {
      font-size: 17px;
    }
    &__list {
      // min-width: 547px;
      line-height: 2.05;
    }
  }
}
