.header {
}
.burger-menu {
  border: none;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: -0.32px;
  color: #45494f;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    border: 2px solid #eaedf5;
    box-sizing: border-box;
    border-radius: 8px;

    color: #2e75ff;
  }
}
