.standards__title {
  font-style: 700;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 22px;
  letter-spacing: 2.42px;
  color: #fbfdff;
}
.standards__text {
  font-size: 17px;
  line-height: 1.88;

  color: white;
}

.standards__descr {
  padding: 151px 157px 119px 160px;
}
