.systems {
  padding-top: 24px;

  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 2;

    letter-spacing: 2.42px;

    color: #1652ac;
    margin-bottom: 23px;
  }

  &__text {
    font-size: 17px;
    line-height: 1.88;

    color: #45494f;
  }

  padding-bottom: 66px;
}

.thumb {
  height: 477px;
  width: 602px;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
