.systems {
  padding-bottom: 30px;
  &__title {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.22;

    letter-spacing: 2.42px;

    color: #1652ac;
  }

  &__text {
    font-size: 17px;
    line-height: 1.88;

    color: #45494f;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    &__title {
      font-size: 20px;
    }
  }
}
