@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  // outline: 1px solid orange;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
nav {
  margin: 0;
  padding: 0;
}

ul,
li,
a {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

.wrapper {
  padding-top: 27px;
  padding-bottom: 53px;

  background-color: #fbfbfc;
  // background-color: gray;

  @media screen and(min-width: 992px) {
    padding-top: 67px;
    padding-bottom: 70px;
    padding-left: 121px;
    padding-right: 121px;
  }
}
